<h1>List of books</h1>

<ul class="thumbnails">
{{#each books}}
  <li class="span4">
    <div class="thumbnail">

      <a class="zoomTool" href="product_details.html" title="add to cart" style="display: none;"><span class="icon-search"></span> QUICK VIEW</a>
      <a href="product_details.html"><img src="{{cover}}" alt=""></a>
      <div class="caption cntr">
        <p>{{title}}</p>
        <p><strong> {{basePrice}} VND</strong></p>
        <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
        <div class="actionList">
          <a class="pull-left" href="#">Add to Wish List </a>
          <a class="pull-left" href="#"> Add to Compare </a>
        </div>
        <br class="clr">
      </div>
    </div>
  </li>
{{/each}}
</ul>